TGTOKEN="" # Your Personal Telegram Bot Token
SAVE_FOLDER="./downloads/" #path where the /save command store the mp3 files e.g. "/mnt/storage/ROOT/MUSIC/"
TMP_FOLDER="./tmp/"        # path where the /download command store and delete the mp3 to send it as a message response
USERS_ALLOWED_TO_SAVE="*"  # list of users allowed to save mp3 on the server id1,id2,.. or "*"
USERS_ALLOWED="*"          # list of users allowed to use the bot id1,id2,.. or "*" for everyone
EXT="mp3"
